/* Color Palette Testing
https://coolors.co/588b8b-ffffff-ffd5c2-f28f3b-c8553d
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Document level adjustments */



html {
    font-size: 17px;
    font-family: sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}



@media (max-width: 900px) {
    html { font-size: 15px; }
}

@media (max-width: 400px) {
    html { font-size: 13px; }
}

/* Modules will scale with document */

nav {
    font-size: 1.2rem;
}

header {
    font-size: 1.5rem;
}

main {
    font-size: 1.2rem;
}

footer {
    font-size: 0.75rem;
}

/* Type will scale with modules */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}
/* NAVBAR */

.navbar-custom {
    background-color: #ffd5c2 !important; 
}





/* The dropdown container */


/* HEADER */

header {
    background-color:#ffd5c2;
}
header h1, p {
    text-align: center;   
}

header h1 {
    padding: 3rem 2rem 1rem 2rem;
}

header p {
    padding: 0.75rem 1rem 6rem 1rem;
}

/* MAIN */

main {
    background-color: #fff;
    padding: 2rem 0 0 0;
}

section h3 {
    text-align: center;
}

.resources__container {
    padding: 2rem 0 1rem 0;
}

.resources {
    padding: 4rem 1rem 6rem 1rem;
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis horizontal */
    justify-content: space-around;
    align-content: center;
}

.resource__box {
    background-color: #588b8b;
    text-align: center;
    align-content: center;
    padding: 3rem 0 3rem 0;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resource__box a {
    color: black;
}

.resource__box a:hover {
    color: white;
    text-decoration: none;
}
/* FOOTER */

/*Sticky Footer*/
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /*Footer height*/
    background-color: #ffd5c2;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}

/* NOT HOME PAGE */
/* Create sidebar with options-container*/

.options {
    display: grid;
    padding-top: 0rem;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
}

.options__box {
    background-color: #f28f3b;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}

.options-info {
    padding: 5rem 5rem;
    display: block;
}
.options-info p {
    text-align: left;
}

.options-block {
    padding-bottom: 2rem;
}

/* MEDIA QUERIES */

/* Home Page*/



@media (max-width: 1100px) {
    .resources {
        display: flex;
        flex-direction: column; /* make main axis vertical */
        justify-content: center; /* center items vertically */
        align-items: center; /* center items horizontally */
    }

    .resource__box {
        margin: 1rem;
        text-align: center;
    }

    
}
